PORT = 8000
NODE_ENV=dev
JWT_SECRET=G8342ltj55bMzlP3YfQdZWlL56E1de7t
JWT_EXPIRATION_MINUTES=15
MONGO_URI=mongodb://localhost:27017/express-es8
MONGO_URI_TEST=mongodb://localhost:27017/express-es8
RATE_LIMIT_TIME=15
RATE_LIMIT_REQUEST=15
REDIS_URL=